<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}" type="image/png" />
    <link href="{{ url_for('static', filename='assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/metismenu/css/metisMenu.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/datatable/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-extended.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet">
    <title>Waikiki</title>
</head>

<body>

    {% include 'partials/sidebar.html' %}
    <div class="page-wrapper">
        <div class="page-content">
            <h1>Crear Reservación</h1>

            <form method="POST" action="{{ url_for('main.crear_reservacion') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="cancha">Seleccionar Cancha</label>
                    <select id="cancha" name="cancha" class="form-control" required>
                        <option value="">Seleccione una cancha</option>
                        {% for cancha in canchas %}
                            <option value="{{ cancha.id }}">{{ cancha.name }} - ${{ cancha.price_per_hour }} por hora</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="fecha">Seleccionar Fecha</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" min="{{ current_date }}" value="{{ current_date }}" required>
                </div>

                <div class="form-group">
                    <label for="hora_inicio">Hora de Inicio</label>
                    <select id="hora_inicio" name="hora_inicio" class="form-control" required>
                        <option value="">Seleccione una hora de inicio</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="hora_final">Hora de Final</label>
                    <select id="hora_final" name="hora_final" class="form-control" required>
                        <option value="">Seleccione una hora de inicio</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="monto">Monto ($)</label>
                    <input type="number" id="monto" name="monto" class="form-control" step="0.01" min="0" required>
                </div>

                <div class="form-group">
                    <label for="metodo_pago">Método de Pago</label>
                    <select id="metodo_pago" name="metodo_pago" class="form-control" required>
                        {% for metodo in metodos_pago %}
                            <option value="{{ metodo }}">{{ metodo|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary my-3">Reservar</button>
            </form>

        </div>
    </div>

    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            // Función para convertir hora en formato de 24 horas a 12 horas con AM/PM
            function convertirHoraAMPM(hora24) {
                var hora = parseInt(hora24.split(":")[0]); // Obtiene la hora (sin los minutos ni segundos)
                var minutos = hora24.split(":")[1]; // Obtiene los minutos
                var suffix = hora >= 12 ? "PM" : "AM"; // Determina si es AM o PM
                if (hora > 12) {
                    hora -= 12; // Convierte a formato de 12 horas
                } else if (hora === 0) {
                    hora = 12; // Para el caso de la medianoche (00:00)
                }
                return hora + ":" + minutos + " " + suffix; // Devuelve la hora en formato AM/PM
            }
        
            // Función para convertir hora AM/PM a formato de 24 horas
            function convertirHora24(horaAMPM) {
                var partes = horaAMPM.split(' '); // Separa la hora y AM/PM
                var horaMinutos = partes[0].split(':'); // Separa hora y minutos
                var hora = parseInt(horaMinutos[0]);
                var minutos = horaMinutos[1];
                var ampm = partes[1];
        
                if (ampm === 'PM' && hora !== 12) {
                    hora += 12; // Convierte PM a formato 24 horas
                } else if (ampm === 'AM' && hora === 12) {
                    hora = 0; // Convierte 12 AM a 00
                }
                
                return (hora < 10 ? '0' : '') + hora + ':' + minutos + ':00'; // Regresa el formato de 24 horas (HH:mm:ss)
            }
        
            // Función que se ejecuta cuando cambia el valor del campo 'cancha' o 'fecha'
            $('#cancha, #fecha').change(function() {
                var cancha_id = $('#cancha').val();
                var fecha = $('#fecha').val();
        
                if (cancha_id && fecha) {
                    $.ajax({
                        url: '/obtener_horas_disponibles',  // Llamada a la ruta que obtiene las horas disponibles
                        method: 'GET',
                        data: { cancha_id: cancha_id, fecha: fecha },
                        success: function(response) {
                            // Limpiar el select de horas inicio
                            $('#hora_inicio').empty();
        
                            // Agregar un valor vacío al principio del select
                            $('#hora_inicio').append('<option value="">Seleccione una hora de inicio</option>');
        
                            // Recorrer las horas disponibles y agregarlas al select
                            response.forEach(function(hora) {
                                var horaFormatoAMPM = convertirHoraAMPM(hora.start_time); // Convierte la hora a formato AM/PM
                                $('#hora_inicio').append('<option value="' + hora.start_time + '">' + horaFormatoAMPM + '</option>');
                            });
                        },
                        error: function() {
                            alert('Error al obtener las horas disponibles');
                        }
                    });
                }
            });
        
            // Función que se ejecuta cuando cambia la hora de inicio
            $('#hora_inicio').change(function() {
                var hora_inicio = $(this).val();  // Obtenemos la hora de inicio seleccionada
                if (hora_inicio) {
                    var hora_inicio_24 = hora_inicio;  // Hora de inicio en formato HH:mm:ss directamente
        
                    $.ajax({
                        url: '/obtener_horas_disponibles',  // Llamada a la ruta que obtiene las horas disponibles
                        method: 'GET',
                        data: { cancha_id: $('#cancha').val(), fecha: $('#fecha').val() },
                        success: function(response) {
                            // Limpiar el select de horas final
                            $('#hora_final').empty();
        
                            // Agregar un valor vacío al principio del select
                            $('#hora_final').append('<option value="">Seleccione una hora de final</option>');
        
                            // Recorrer las horas disponibles y agregar solo las mayores que la hora de inicio
                            response.forEach(function(hora) {
                                // Si la hora de fin es mayor que la de inicio, agregarla
                                if (hora.start_time > hora_inicio_24) {
                                    var horaFormatoAMPM = convertirHoraAMPM(hora.start_time); // Convertir a formato AM/PM
                                    $('#hora_final').append('<option value="' + hora.start_time + '">' + horaFormatoAMPM + '</option>');
                                }
                            });

                            // Hora en formato HH:mm:ss (por ejemplo "10:00:00")
                            let hora_str = "23:00:00";

                            // Crear un objeto Date con la hora en formato HH:mm:ss (esto crea un objeto Date con la fecha actual y la hora proporcionada)
                            let hora_obj = new Date("1970-01-01T" + hora_str + "Z");  // Usamos 1970-01-01 como fecha fija para solo trabajar con la hora

                            // Obtener la hora formateada en HH:mm:ss
                            let hora_formateada = hora_obj.toISOString().substr(11, 8);  // Extraemos HH:mm:ss de la cadena ISO 8601


                            $('#hora_final').append('<option value="' + hora_formateada + '">' + convertirHoraAMPM(hora_formateada) + '</option>');
                        },
                        error: function() {
                            alert('Error al obtener las horas disponibles');
                        }
                    });
                }
            });
        });
    </script>
        

</body>
</html>
