<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}" type="image/png" />
    <!-- Plugins and Bootstrap CSS -->
    <link href="{{ url_for('static', filename='assets/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/metismenu/css/metisMenu.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/plugins/datatable/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-extended.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet">
    <!-- BoxIcons for icons -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">
    <title>Waikiki</title>
</head>

<body>

    {% include 'partials/sidebar.html' %}
    <div class="page-wrapper">
        <div class="page-content">
            <h1>Usuarios</h1>
            
            {% include 'partials/zonadatatable-usuarios.html' %}
        </div>
    </div>
            <!-- Bootstrap JS -->
            <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
            <!-- Plugins -->
            <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/plugins/metismenu/js/metisMenu.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/plugins/datatable/js/dataTables.bootstrap5.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
        
            <script>
                $(document).ready(function() {
                    var table = $('#example2').DataTable({
                        lengthChange: false,
                        buttons: ['copy', 'excel', 'pdf', 'print']
                    });
        
                    table.buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
        
                    // Detecta el cambio en el estado del pago y actualiza en la base de datos
                    $('.payment-status').change(function() {
                        var paymentStatus = $(this).val();
                        var paymentId = $(this).data('pago-id');
        
                        // Realizar la solicitud AJAX para actualizar el estado
                        $.ajax({
                            url: '/update_payment_status',  // Define tu ruta de backend aquí
                            type: 'POST',
                            data: {
                                id: paymentId,
                                status: paymentStatus
                            },
                            success: function(response) {
                                alert('Estado del pago actualizado correctamente');
                            },
                            error: function() {
                                alert('Hubo un error al actualizar el estado del pago');
                            }
                        });
                    });
                });
            </script>
</body>

</html>
